<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanzhuan.mapper.OrderSnapshotMapper">

    <insert id="insert" parameterType="com.zhuanzhuan.entity.OrderSnapshot" useGeneratedKeys="true" keyProperty="id">
        insert into order_snapshot
        (order_id, goods_title, goods_cover, goods_price,
         seller_name, seller_phone, buyer_name, buyer_phone,
         meet_location, meet_time, remark,
         create_time, update_time, create_user, update_user)
        values
            (#{orderId}, #{goodsTitle}, #{goodsCover}, #{goodsPrice},
             #{sellerName}, #{sellerPhone}, #{buyerName}, #{buyerPhone},
             #{meetLocation}, #{meetTime}, #{remark},
             now(), now(), #{createUser}, #{updateUser})
    </insert>

    <select id="getByOrderId" resultType="com.zhuanzhuan.entity.OrderSnapshot">
        select * from order_snapshot where order_id = #{orderId}
    </select>

</mapper>