<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuanzhuan.platform.goods.mapper.GoodsImageMapper">

    <!-- 批量新增商品图片 -->
    <insert id="insertBatch">
        insert into goodsimage (
            id, goods_id, url, sort, is_cover, create_time, update_time, create_user, update_user
        ) values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.id},
                #{item.goodsId},
                #{item.url},
                #{item.sort},
                #{item.isCover},
                #{item.createTime},
                #{item.updateTime},
                #{item.createUser},
                #{item.updateUser}
            )
        </foreach>
    </insert>
</mapper>
